# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
android-app/.gradle
android-app/.idea
android-app/.kotlin
android-app/build
android-app/app/build
android-app/android-app
*.local
.env
*.db
*.db-shm
*.db-wal

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
